<div class="" style="">
  <div id="web-header" class="bg-img"  style="z-index: 1900">
    <h1 class="m-0 p-5 bg-over display-4">Diseño de Aplicaciones</h1>
  </div>
  <div class="row p-0 m-0 bg-dark no-gutters" style="position: relative;">
    <div class="col text-light text-right d-flex justify-content-center align-items-center flex-column p-3" style="margin-top: 4vh">
      <p class="w-50 ml-auto">
        <i class="fab fa-java m-2"></i>
        <i class="fab fa-angular m-2"></i>
        <i class="fab fa-python m-2"></i>
        <i class="fab fa-microsoft m-2"></i>
      </p>
      <p class="w-50 ml-auto">
        El software que necesita para ese nuevo proyecto, ByCloud lo crea para usted. Utilizando el lenguaje de su preferencia.
      </p>
    </div>
    <div class="col-12 col-sm-4 d-flex justify-content-end" style="overflow-x:hidden; margin-top: -4vh; margin-bottom: -4vh; padding-bottom: 0rem">
      <img class="img-fluid" style="; z-index: 1; width:auto; height:auto;" src="../../assets/img/codingdribbble.gif" alt="">
    </div>
  </div>
  <div class="white p-3">
    <div class="p-5 row">
      <div class="col flex-column">
        <h4><i class="icon-stack pr-2"></i>Desarrollo Full Stack</h4><hr>
        <p>
          Realizamos todo el proceso para la creación de su nueva herramienta, desde el elvantamiento de requerimientos hasta interfaz de usuario.
        </p>
      </div>
      <div class="col flex-column">
        <h4><i class="fas fa-code-branch pr-2"></i>Desarrollo de modulos</h4><hr>
        <p>
          Si ya tiene su herramienta en producción pero necesita una nueva funcionalidad, le ayudaremos con el diseño y desarrollo de dicho requerimiento perfectamente elaborado a su medida.
        </p>
      </div>
      <div class="w-100"></div>
      <div class="col flex-column">
        <h4><i class="fas fa-sync-alt pr-2"></i>Actualización</h4><hr>
        <p>
          No permita que su solción de software se vuelva obsoleta, en ByCloud Labs podemos devolverla al presente.
        </p>
      </div>
      <div class="col flex-column">
        <h4><i class="icon-paint-format pr-2"></i>Interfaz de usuario</h4><hr>
        <p>
          Dele una nueva interfaz a su herramienta de software. Mantengase al día con las tendencias en diseño de interfaces de usuario y disfrute de una experiencia mejorada.
        </p>
      </div>
    </div>
  </div>
</div>
