.dropdown-item:hover {
  background: orange;
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
}
a.nav-link.nav-before {
  position: relative;
}
a.nav-link.nav-before::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 0%;
  top: 0%;
  left: 50%;
  // background: orange;
}
a.nav-link.nav-before:hover:before {
  animation: hover-nav .3s ease-in-out forwards;
}
@keyframes hover-nav {
  0%{
    width: 0%;
    height: 100%;
    left: 0%;
  }
  100%{
    width: 100%;
    height: 100%;
    left: 0%;
    border-bottom: 2px solid orange;
  }
}
a.nav-link:hover {

}
#main-nav {
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
}
#main-nav.shrink {
  width: 100%;
  position: fixed;
  top:0;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  border-bottom:1px solid rgba(0,0,0,.1);
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
}
nav.navbar-light ,nav.navbar-dark {
  box-shadow: 0px 5px 5px 1px rgba(0,0,0,.5);
  width: 100% !important;
  z-index: 1000;
}
nav.navbar-light {
  // height: 4rem!important;
  text-transform: uppercase;
}
nav.navbar-dark {
  height: 2.5rem!important;
}
.navbar-dark {
  font-family: 'Dosis', sans-serif;
}
nav.navbar-light > ul > li.nav-item > a.nav-link, nav.navbar-light > ul > li.nav-item > a.nav-link:hover {
  height: 4rem!important;
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
}
nav.navbar-light > ul > li.nav-item > a.nav-link {
  padding: 1.3rem 1rem!important;
}
nav.navbar-light > ul > li.nav-item > a.nav-link:hover {
  background: orange;
  color: #fff;
}
.navbar-collapse {
  padding-left: 2rem;
}
.navbar-collapse.collapse {
  height: 0;
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
}
.navbar-collapse.collapse.show {
  height: auto;
  // background: #fff;
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
}
#show-small {
  display: none;
}
#social-icons > li.nav-item > a.nav-link {
  padding: 1rem;
}
#social-icons > li.nav-item > a.nav-link:hover > .fa-twitter {
  color:rgb(41, 217, 196)!important;
}
#social-icons > li.nav-item > a.nav-link:hover > .fa-facebook-f {
  color:rgb(93, 116, 233)!important;
}
#social-icons > li.nav-item > a.nav-link:hover > .fa-linkedin-in {
  color:#fff!important;
}
@media (max-width: 680px) {
  #show-big {
    display: none;
  }
  #show-small {
    display: block;
  }
}
