<div>
  <div id="web-header" class="bg-img"  style="z-index: 1900">
    <h1 class="m-0 p-5 bg-over display-4">Diseño 3D</h1>
  </div>
  <div class="row no-gutters bg-dark text-light" style="margin-bottom: 0rem;">
    <div class="col-12 col-sm-8 d-flex align-items-center justify-content-end"><p class="p-2 text-right col-md-5">
      Personajes, objetos, iconos, recorridos virtuales, camera tracking, cortinas publicitarias o simplemente edición de video. Si lo quieres, ByCloud lo tiene. <br>
      Todo hecho con Blender <i class="icon-blender"></i>
    </p></div>
    <div class="col-12 col-sm-4 pr-2 d-flex align-items-center">
      <img id="overlap" class="img-fluid img-border img-overlap" src="../../assets/img/bycloud-gif.gif" alt="">
    </div>
  </div>
  <div class="white " style="padding: 3rem 2rem 2rem 2rem">
    <div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-12 col-sm-4">
              <img class="img-fluid img-td" src="../../assets/img/cube-animation.gif" alt="" >
            </div>
            <div class="col d-flex align-items-start justify-content-center flex-column">
              <h3>Animaciones</h3>
              <p>Le ofrecemos nuestros servicios de animación 3D con los que podrá obtener resultados profesionales.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-12 col-sm-4">
              <img class="img-fluid img-td" src="../../assets/img/modelado.png" alt="" >
            </div>
            <div class="col d-flex align-items-start justify-content-center flex-column">
              <h3>Modelado</h3>
              <p>
                Si lo que necesita son personajes u objetos para su proyecto, En ByCloud Labs tenemos el personal con el talento y las herramientas para dicho proyecto alcance su maximo potencial.
              </p>
            </div>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-12 col-sm-4">
              <img class="img-fluid img-td" src="../../assets/img/recorrido.gif" alt="">
            </div>
            <div class="col d-flex align-items-start justify-content-center flex-column">
              <h3>Recorridos Virtuales</h3>
              <p>
                Muestre sus proyectos de construcción antes de comenzar, ya no tiene porque esperar a que la obra avance para captar clientes.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-12 col-sm-4">
              <img class="img-fluid img-td" src="../../assets/img/productos.png" alt="">
            </div>
            <div class="col d-flex align-items-start justify-content-center flex-column">
              <h3>Visualización de productos</h3>
              <p>
                Vea como va el avance en el desarrollo de sus produtos antes de que salgan del papel.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
