<div class="footer">
  <div id="us">
    <p class="h3 tittle">Nosotros</p>
    <hr style="border-bottom:1px solid rgba(255,255,255,.4)">
    <div class="row">
      <div class="col-12 col-sm-6" style="position:relative">
        <div class="card bg-transparent" style="">
          <div class="card-body">
            <h5 class="card-title tittle">Francisco Arleo</h5>
            <p class="card-text">Especialista en Gerencia de la Tecnología y la Innovación, Abogado y Tecnico Superior Universitario en Informática, con gran pasión por el diseño web y el diseño 3D.</p>
            <a href="mailto: farleo@bycloudlabs.com" target="_blank" class="btn btn-outline-secondary"><i class="fa fa-envelope"></i></a>
            <a href="https://twitter.com/FCiscoArleo" class="btn btn-outline-info" target="_blank"><i class="fab fa-twitter"></i></a>
            <!-- <a href="https://www.facebook.com/cisco336" class="btn btn-outline-primary" target="_blank"><i class="fab fa-facebook-f"></i></a> -->
            <a href="https://www.linkedin.com/in/francisco-arleo/" class="btn btn-outline-primary" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6" style="position:relative">
        <div class="card bg-transparent" style="">
          <div class="card-body">
            <h5 class="card-title tittle">Hector Martinez</h5>
            <p class="card-text">Profesional experimentado en el área de tecnología con más de 15 años de trayectoria en el desarrollo de soluciones de tecnologías innovadoras. Busca desarrollar al máximo sus potencialidades y las de su equipo para poder cumplir con todos los objetivos que se le presenten, creando estrategias para lograr la mayor eficiencia posible. Creativo, siempre produciendo nuevas ideas para ofrecer soluciones a cada reto.</p>
            <a href="mailto: hmartinez@bycloudlabs.com" class="btn btn-outline-secondary"><i class="fa fa-envelope" target="_blank"></i></a>
            <a href="https://twitter.com/hectorenriquemo" class="btn btn-outline-info" target="_blank"><i class="fab fa-twitter"></i></a>
            <!-- <a href="#" class="btn btn-outline-primary"><i class="fab fa-facebook-f"></i></a> -->
            <a href="https://linkedin.com/in/hectorenriquemo/" class="btn btn-outline-primary" target="_blank"><i class="fab fa-linkedin-in" ></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
