<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" style="margin-bottom: -2rem;z-index: 1;">
  <div class="carousel-inner" style="font-family: 'Dosis', sans-serif;">
    <div class="carousel-item active" style="font-family: 'Dosis', sans-serif;">
      <div class="carousel-div flex-column">
        <i class="display-1 icon-streamingcapture p-2"></i><p class="carousel-tittle display-4">Streaming Capture</p>
        <p class="carousel-text">Streaming Capture es una herramiente que te permite grabar la programación de cualquier canal de transmisión (Emisora de radio, canal de televisión, entre otros) que se encuentre en línea.</p>
        <div class="" style="z-index: 1000">
          <a routerLink="streamingcapture" style="margin-right: 5px"><button class="btn btn-small btn-orange">Ver más</button></a>
          <a href="http://www.streamingcapture.com" target="_blank"><button  class="btn btn-primary"><i class="icon-streamingcapture h4"></i></button></a>
        </div>
      </div>
      <img class="d-block w-100" src="../../assets/img/radio5.jpg" alt="First slide">
    </div>
    <div class="carousel-item ">
      <div class="carousel-div flex-column">
        <i class="display-1 icon-embed2 p-2"></i><p class="carousel-tittle display-4">Diseño Web</p>
        <p class="carousel-text">Todo lo que necesite para su presencia en la Web. Desde sitios web sencillos, manejadores de contenido, conexión con base de datos, aplicaciones web, Deje su requerimiento en nuestras manos  nosotros nos ocuparemos del resto.</p>
        <div class="">
          <a routerLink="web-design"><button class="btn btn-orange">Leer más</button></a>
        </div>
      </div>
      <img class="d-block w-100" src="../../assets/img/webdesign.jpg" alt="First slide">
    </div>
    <div class="carousel-item ">
      <div class="carousel-div flex-column">
        <i class="display-1 icon-terminal p-2"></i><p class="carousel-tittle display-4">Desarrollo de aplicaciones</p>
        <p class="carousel-text">El software que necesita para ese nuevo proyecto, ByCloud lo crea para usted. Utilizando el lenguaje de su preferencia (Java, Python, .NET).</p>
        <div class="">
          <a routerLink="app-develop"><button class="btn btn-orange">Leer más</button></a>
        </div>
      </div>
      <img class="d-block w-100" src="../../assets/img/coding.jpg" alt="First slide">
    </div>
    <div class="carousel-item ">
      <div class="carousel-div flex-column">
        <i class="display-1 icon-blender p-2"></i><p class="carousel-tittle display-4">Diseño 3D</p>
        <p class="carousel-text">Diseño, modelado tanto de caracteres, logos como estructuras arquitectónicas.</p>
        <div class="">
          <a routerLink="td-design"><button class="btn btn-orange">Leer más</button></a>
        </div>
      </div>
      <img class="d-block w-100" src="../../assets/img/cube-animation-carousel.gif" alt="First slide" align="middle">
    </div>
    <div class="carousel-item ">
      <div class="carousel-div flex-column">
        <i class="display-1 icon-qrcode p-2"></i><p class="carousel-tittle display-4">Codigos QR</p>
        <p class="carousel-text">Genere codigos QR en segundos y GRATIS. O genere codigos dinamicos por un precio insuperable.</p>
        <div class="">
          <a routerLink="qr-code"><button class="btn btn-orange">Leer más</button></a>
        </div>
      </div>
      <img class="d-block w-100" src="../../assets/img/qr-img-2.png" alt="First slide" align="middle">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div id="contenido" class="container d-flex flex-column align-items-center p-0" style="position:relative;z-index: 2; overflow:hidden">
  <div class="p-4 pb-0">
    <p class="text-center"><i class="icon-bycloud h1"></i></p>
    <p class="text-center h3">ByCloud Labs SAS</p>
    <p class="text-center">
      Para ByCloud Labs SAS, la meta es que nuestros clientes estén seguros de que tienen un aliado confiable para sus proyectos de tecnología. Permítanos convertir sus ideas en ventajas competitivas con nuestros servicios. En ByCloud Labs SAS siempre estamos a la orden para que su empresa se encuentre a la vanguardia tecnológica.
    </p>
  </div>
  <span id="services"></span>
  <br>
  <div class="p-4 pb-0">
    <p class="text-center h2">Servicios</p>
  </div>
  <div class="row no-gutters p-0" >
    <div class="col-12 col-sm-12 col-md-6 p-0 ">
      <div class="service">
          <div class="img-caption text-light d-flex align-items-start justify-content-center flex-column p-4">
            <h3 class="tittle"><i class="icon-streamingcapture display-4 pr-3"></i>Streaming Capture</h3>
            <p>
              Pruebe nuestro servicio de captura de Streaming y sorprendase con su estabilidad, interfaz intuitiva y gran flexibilidad.
            </p>
            <a routerLink="streamingcapture" class="service-link ml-auto">
              <button class="btn-float"><i class="icon-plus"></i></button>
            </a>
          </div>
          <img class="img-fluid" src="../assets/img/radio5.jpg" alt="" style="position:relative"/>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 p-0">
        <div class="service qr-code" >
          <div class=" text-light img-caption d-flex align-items-start justify-content-center flex-column p-4">
            <h3 class="tittle"><i class="icon-qrcode  display-4 pr-3"></i>Codigos QR</h3>
            <p>
              Genere codigos QR en segundos y GRATIS. O genere codigos dinamicos por un precio insuperable.
            </p>
            <a  routerLink="qr-code" class="service-link ml-auto">
              <button class="btn-float"><i class="icon-plus"></i></button>
            </a>
          </div>
          <img class="img-fluid" src="../assets/img/qr-img-2.png" alt="" style="position:relative; height:auto"/>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 p-0">
      <div class="service web-design">
        <div class=" text-light img-caption d-flex align-items-start justify-content-center flex-column p-4">
          <h3 class="tittle"><i class="icon-embed2 display-4 pr-3"></i>Diseño Web</h3>
          <p>
            Todo lo que necesite para su presencia en la Web. Deje su requerimiento en nuestras manos  nosotros nos ocuparemos del resto.
          </p>
          <a routerLink="web-design" class="service-link ml-auto">
            <button class="btn-float"><i class="icon-plus"></i></button>
          </a>
        </div>
        <img class="img-fluid" src="../assets/img/webdesign.jpg" alt="" style="position:relative"/>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 p-0">
      <div class="service" >
        <div class=" text-light img-caption d-flex align-items-start justify-content-center flex-column p-4">
          <h3 class="tittle"><i class="icon-terminal display-4 pr-3"></i>Aplicaciones</h3>
          <p>
            El software que necesita para ese nuevo proyecto, ByCloud lo crea para usted. Utilizando el lenguaje de su preferencia (Java, Python, .NET).
          </p>
          <a  routerLink="app-develop" class="service-link ml-auto">
            <button class="btn-float"><i class="icon-plus"></i></button>
          </a>
        </div>
        <img class="img-fluid" src="../assets/img/coding.jpg" alt="" style="position:relative"/>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 p-0">
        <div class="service" >
          <div class=" text-light img-caption d-flex align-items-start justify-content-center flex-column p-4">
            <h3 class="tittle"><i class="icon-blender  display-4 pr-3"></i>Diseño 3D</h3>
            <p>
              Diseño de personajes, logos, visualización de productos, recorridos virtuales, todo esto y mucho más podrá encontralo con nosotros.
            </p>
            <a  routerLink="td-design" class="service-link ml-auto">
              <button class="btn-float"><i class="icon-plus"></i></button>
            </a>
          </div>
          <img class="img-fluid" src="../assets/img/cube-animation-carousel.gif" alt="" style="position:relative; height:auto; width: 100%"/>
        </div>
    </div>
  </div>
</div>
<app-us></app-us>
